# Dependencies
node_modules/

# Local sensitive configuration (Do NOT upload to GitHub)
config.json

# Temporary uploaded attachments
uploads/*
!uploads/.gitkeep

# System and OS Files
.DS_Store
Thumbs.db
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
